@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.hero-container{
    display: flex;
    width: 100vw;
    height: 100vh; 
    background-color: #E554731A;
    gap: 40px;
    justify-content: space-between;
    align-items: center; 
    overflow: hidden; 
}
.image-container img{
    width:635px;
    height: auto;
    margin-top: 50px;
    margin-right: 240px;
    object-fit: cover;
}
.text-container{
    margin-left: 240px;
    margin-top: 197px;
    width: 708px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    }
    
    /* shared */
    .primary-button{
        width: 177px;
        height: 64px;
        padding: 20px 43px 20px 43px;
        border-radius: 8px;
        background: rgb(229, 84, 115);
        border: none;
        color: rgb(255, 255, 255);
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
.title{
        color: rgb(39, 39, 39);
        font-family: Lato;
        font-size: 80px;
        font-weight: 800;
        line-height: 96px;
        letter-spacing: 0%;
        text-align: left;
    }
.description{
        color: rgba(39, 39, 39, 0.6);
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
    }
        